@import url('http://fonts.cdnfonts.com/css/wonder-night');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: yellow;
    background-color: black;
}
body {
    font-family: 'Wonder Night','Jim Nightshade', cursive;
    font-size: 18px; 
    letter-spacing: 0.2em;   
    
}
header {
    height: 100px;
    margin-top:2em;
    color: yellow;
}
footer{
    position:fixed;
    bottom:0;
    width: 100%;
    height: 30px;
    padding: 3px;
}
main{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    gap:0 20px;
    margin: 0 auto;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
    row-gap: 10px;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 auto; */
    /* background-color: azure;
    width: 400px; */
    /* flex:1 1 auto; */
    gap:0 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 450px;
    min-height: 200px;  
    padding:10px;
    flex: 1 1 auto;
    gap:0px 15px;
    /* height:fit-content; */
}  
figcaption{
    text-align: center;
}
h1,h2,h3,p {
    text-align: center;
    flex:0 0 auto;
    width: 100%;
}
.scoreBoard{
    display: flex;
    flex-wrap: wrap;
    border:1px solid rgb(59, 57, 57);
    justify-content: center;
    max-width: 800px;
    row-gap: 10px;
    margin: 0;
    padding: 10px;
    transition: all 0.5s;
}
#userScore{
    width: 180px;  
    align-self: center;  
}
#resultText,#scoreTitle{
    margin: 0em;
    font-weight: bold;
}
section{
    display: flex;
    width: 100%;
    flex:0 0 auto;
    margin: 0 auto;
    justify-content: center;
}
figure img{
    width: 100%;
    height: 80%;
}
.title{
    font-family: 'Wonder Night', sans-serif;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.2em;    
    color: yellow;
}
.titleAdd{
    font-size:1.5em;
    color: rgb(236, 236, 112);
}
.restart{
    color: rgb(201, 159, 36);
    font-size: 2em;
    transition: font-size 0.5s,color 0.5s;
}
.restart:hover{
    cursor: pointer;
    color: rgb(250, 105, 8);
    font-size: 2.2em;
}
.uSel,.cSel{
    color: black;    
    width: 100px;
    height: 125px;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    transition: all 0.5s;
}


.uSel:hover{
    cursor: pointer;
    color: blue;
    width: 150px;
    height: 150px;
    border: 6px solid orangered;
}
.wTitle{
    text-align: left;
    width: 100%;
    flex-shrink: 1;
    margin-left: 40px;
    
}
.scoreF{
    font-size:2.5em;
}
.score{
    font-size:1,5em;
    display: flex;
    flex-direction: column;
    min-width: 180px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
